extend _template

block title
	title Вопрос-ответ
block content
	+breadcrumb('Вопрос-ответ')
	.content
		.faq-block
			p.question Вопрос:
			p.question-content.
				За какое минимальное время заказывать свадебный декор?
			p.question Ответ:
			p.question-content.
				Обращайтесь для заказа оформления свадьбы за 2-3 месяца до мероприятия. За это время мы разработаем концепцию, закупим ткани, аксессуары, элементы декора, определимся с выбором цветов и создадим уникальную тематику торжества.
			p.question-content.
				Мы оформляли свадьбы за 5 и за 1 день, но в таких условиях клиент и исполнитель ограничены в материалах: нужный сорт цветов, элементы декора и т.д. Поэтому разумно заказывать оформление свадьбы заранее.

		.faq-block
			p.question Вопрос:
			p.question-content.
				Какие основные этапы сотрудничества с флористами и декораторами?
			p.question Ответ:
			p.question-content.
				Сначала мы выбираем площадку для свадебного банкета или выездной регистрации. Вы можете выбрать место самостоятельно, в таком случае мы будем отвечать  только за флористику и декор.
			p.question-content.
				Как только вы определитесь с местом, флористы и декораторы приедут на площадку и обсудят варианты декора. Далее следует этап обрисовки эскиза, согласования сметы, подписи договора и внесения предоплаты (50%).
			p.question-content.
				Этапы выполнения проекта: закупаем и отшиваем текстиль, заказываем цветы, разрабатываем дизайн печатной продукции, изготавливаем пригласительные, план рассадки, карточки.
			p.question-content.
				Украшаем свадьбу, монтируем декоративные элементы, изготовляем цветочные композиции за 6-8 часов до мероприятия. Букет невесты, бутоньерку, лепестки роз доставляем утром жениху или невесте.
		.faq-block
			p.question Вопрос:
			p.question-content.
				Есть ли у вас прайс-лист?
			p.question Ответ:
			p.question-content
				| Да, на нашем сайте в разделе 
				a(href='/price.html')  “Прайс” 
				| вы можете ознакомиться со стоимостью всех услуг.
		.faq-block
			p.question Вопрос:
			p.question-content.
				Какой должна быть минимальная сумма заказа?
			p.question Ответ: 
			p.question-content.
				Мы работаем с любым бюджетом: предоставляем как отдельные услуги (букет невесты, пригласительные, воздушные шары), так и комплексное оформление мероприятия.
		.faq-block
			p.question Вопрос:
			p.question-content.
				Можно ли заказать у вас декор детского праздника/юбилея/корпоратива?
			p.question Ответ:
			p.question-content.
				Да, мы занимаемся оформлением как частных праздников, так и корпоративных мероприятий.
		.faq-block
			p.question Вопрос:
			p.
				Какие элементы декора мы можем забрать после мероприятия?
			p.question Ответ:
			p.question-content.
				Заказчик может забрать печатную продукцию, шары и цветочные композиции. Ткани, вазы, арки, канделябры и другие элементы декора мы предоставляем в аренду. 
		p.call-us
			| Остались вопросы - звоните!
		p.text-center
			| +7(911)921-10-55 (Ульяна)
		p.text-center
			|  +7(911)732-10-53 (Ирина)
