extend _template

block title
	title Отзывы
block content
	+breadcrumb('Отзывы')
	.content
		.review-block
			p.author Наталья Кислякова 12.03.2016
			img.img-responsive.review-img(src='./img/reviews/natalya-kislyakova.jpg')
			p.
				Хочу выразить огромную благодарность команде ff в оформлении нашего корпоратива! Ваши флористы сумели создать ту чудесную атмосферу, в которой наш серьезный коллектив смог расслабиться и не думать о работе! Фотографии с мероприятия получились яркими и неповторимыми, благодаря Вашим идеям в дизайне зала! Спасибо! Теперь мы Ваши постоянные клиенты. И еще приятный момент: цены у Вас очень притягательные!
		.review-block
			p.author Екатерина Подшивалова 7.02.2016 
			img.img-responsive.review-img(src='./img/reviews/ekaterina.jpg')
			p.
				Огромная Вам благодарность за прекрасный букет невесты и бутоньерку. Букетом восхищалась не только я. Его красоту и нежность отметили абсолютно все. Прекрасное сочетание белых роз, статицы и фрезий создало ощущение лёгкости и романтики. Несмотря на то, что цветы были без воды весь день, чувствовали себя прекрасно. В общем, ещё раз спасибо!!!
		.review-block
			p.author Алишер и Пари 10.09.2015
			img.img-responsive.review-img(src='./img/reviews/aliser-pari.jpg')
			p.
				Хотим выразить благодарность вашим девочкам за оформление нашей свадьбы! У нас была свадьба в "бирюзовом цвете", мы заказывали пригласительные, букет невесты, бутоньерку, оформление машины, оформление банкетного зала. Все наши гости были в восторге от пригласительных, букет и бутоньерку доставили утром нам домой, они были свежими и было видно, что были только что собраны. Свадебный банкет мы заказывали в ресторане Атриум, он был очень красиво оформлен цветочными композициями в мартинках, стулья были украшены красивыми пышными бантами, план рассадки девочки выполнили в виде двух сердец, зона президиума была оформлена аркой с тканями, на столе - большая цветочная композиция. Верь декор подчеркивал концепцию свадьбы и мы остались очень довольны! Большое вам спасибо!
		.review-block 
			p.author  Анастасия и Владимир Булыгины 5.09.2015
			img.img-responsive.review-img(src='./img/reviews/anastasia-vladimir.jpg')
			p.
				Огромное спасибо девчонкам! Оформляли нам свадьбу, все на высшем уровне, все сделали красиво и вовремя, еще и недорого! В общем большое спасибо! Будем  Вас советовать всем!
		.review-block
			p.author Ксения Александровна 29.08.2015
			img.img-responsive.review-img(src='./img/reviews/kseniya.jpg')
			p.
				Спасибо Вам огромное за такую красоту,все получилось именно так,как я хотела: очень красивый декор и флористика. Девчонки мои все цветы со столов и у президиума растащили,что даже мне ничего не досталось. А корзинка просто огонь!!! А бокалы тоже очень-очень красивые.
		.review-block
			p.author Светлана Перегудова 23.08.2015
			img.img-responsive.review-img(src='./img/reviews/svetlana.jpg')
			p
				| Ирина, спасибо вам с Ульяной за такую красоту. Мой букетик стал красивым и ярким акцентом в моем наряде.
				br
				| Удачи и процветания вам!!!
		.review-block
			p.author Диана 25.07.2014
			img.img-responsive.review-img(src='./img/reviews/diana.jpg')
			p.
				Я обратилась в студию Flowers Fantasy за месяц до свадьбы, но, не смотря на короткий срок, девочки сделали все, чтобы наша свадьба была красивой и незабываемой! Мы заказывали букет невесты, бутоньерку, оформление выездной регистрации и оформление банкетного зала. Т.к. многие из наших гостей постоянно проживают в Европе, то мы решили сделать свадьбу в классическом европейском стиле.  Девочки полностью реализовали все наши идеи, и наша свадьба была красивой и элегантной! 
		.review-block
			p.author Яна Третьякова 16.09.2013
			img.img-responsive.review-img(src='./img/reviews/yana-tretyakova.jpg')
			p.
				Заказывала в студии Flowers Fantasy оформление зала на своей свадьбе, а именно: цветочные композиции на столы гостей и на президиум. Заранее было обговорено, какие именно цветы должны быть и какого цвета, у нас была "коралловая свадьба". Цвет роз девчонки подобрали идеально, он был именно таким, как я и хотела. К слову, букет невесты я заказывала в другом месте, и там не смогли подобрать нужный цвет роз, что меня, конечно же, расстроило... очень пожалела, что не заказала все у девочек из Flowers Fantasy, потому что они свою работы выполнили на все 200%! Я осталась очень довольна! В банкетный зал все привезли вовремя, расставили по столам, забрали, когда гости уже разошлись.
		.review-block
			p.author Максим и Виктория Мельник 17.08.2013
			img.img-responsive.review-img(src='./img/reviews/maksim-victoriya.jpg')
			p.
				Хочу выразить свою благодарность декораторам Flowers Fantasy за оформление зала на свадьбу и букета невесты. Все мои пожелания были учтены. На столах для гостей стояли красивые цветочные композиции в вазочках, которые продержались еще несколько дней, что говорит о свежести цветов, использованных для оформления. Букет невесты получился таким, как я хотела, девочки немного предложили его подкорректировать и все получилось очень оригинально. Единственное для бутоньерок цветы были большеваты. В целом мы остались очень довольны. Спасибо вам огромное! Процветания Вашей компании и побольше клиентов!
		.review-block
			p.author Виктория и Пётр Борняковы 20.06.2013
			img.img-responsive.review-img(src='./img/reviews/victoriya-petr.jpg')
			p.
				Спасибо большое за украшение нашей свадьбы! О таком только мечтать можно! Это самый важный день в жизни, поэтому хотелось, чтобы все было идеально, как в сказке ! Чтобы оформление было красивым, нежным, оформленным со вкусом! Так и получилось! Спасибо Ульяне и Ирине за такой подход в работе! Все показали, рассказали, поделились советами. Очень приятно с Вами работать! Будем всем советовать именно Вашу компанию!


