extend _template

block title
	title Отзывы
block content
	+breadcrumb('Отзывы')
	.content
		.review-block
			p.author.text-center Наталья Кислякова 
			.review-img
				img.img-responsive(src='./img/reviews/mini/natalya-kislyakova.jpg')
			.review-text
				p.
					Хочу выразить огромную благодарность команде ff в оформлении нашего корпоратива! Ваши флористы сумели создать ту чудесную атмосферу, в которой наш серьезный коллектив смог расслабиться и не думать о работе! Фотографии с мероприятия получились яркими и неповторимыми, благодаря Вашим идеям в дизайне зала! Спасибо! Теперь мы Ваши постоянные клиенты. И еще приятный момент: цены у Вас очень притягательные!
				p.author 12.03.2016
		.review-block
			p.author.text-center Екатерина Подшивалова 
			.review-img
				img.img-responsive(src='./img/reviews/mini/ekaterina.jpg')
			.review-text
				p.
					Огромная Вам благодарность за прекрасный букет невесты и бутоньерку. Букетом восхищалась не только я. Его красоту и нежность отметили абсолютно все. Прекрасное сочетание белых роз, статицы и фрезий создало ощущение лёгкости и романтики. Несмотря на то, что цветы были без воды весь день, чувствовали себя прекрасно. В общем, ещё раз спасибо!!!
				p.author 7.02.2016
		.review-block
			p.author.text-center Алишер и Пари 
			.review-img
				img.img-responsive(src='./img/reviews/mini/aliser-pari.jpg')
			.review-text
				p.
					Хотим выразить благодарность вашим девочкам за оформление нашей свадьбы! У нас была свадьба в "бирюзовом цвете", мы заказывали пригласительные, букет невесты, бутоньерку, оформление машины, оформление банкетного зала. Все наши гости были в восторге от пригласительных, букет и бутоньерку доставили утром нам домой, они были свежими и было видно, что были только что собраны. Свадебный банкет мы заказывали в ресторане Атриум, он был очень красиво оформлен цветочными композициями в мартинках, стулья были украшены красивыми пышными бантами, план рассадки девочки выполнили в виде двух сердец, зона президиума была оформлена аркой с тканями, на столе - большая цветочная композиция. Верь декор подчеркивал концепцию свадьбы и мы остались очень довольны! Большое вам спасибо!
				p.author 10.09.2015
		.review-block 
			p.author.text-center Анастасия и Владимир Булыгины 
			.review-img
				img.img-responsive(src='./img/reviews/mini/anastasia-vladimir.jpg')
			.review-text
				p.
					Огромное спасибо девчонкам! Оформляли нам свадьбу, все на высшем уровне, все сделали красиво и вовремя, еще и недорого! В общем большое спасибо! Будем  Вас советовать всем!
				p.author 5.09.2015
		.review-block
			p.author.text-center Ксения Александровна 
			.review-img
				img.img-responsive(src='./img/reviews/mini/kseniya.jpg')
			.review-text
				p.
					Спасибо Вам огромное за такую красоту,все получилось именно так,как я хотела: очень красивый декор и флористика. Девчонки мои все цветы со столов и у президиума растащили,что даже мне ничего не досталось. А корзинка просто огонь!!! А бокалы тоже очень-очень красивые.
				p.author 29.08.2015
		.review-block
			p.author.text-center Светлана Перегудова 
			.review-img
				img.img-responsive(src='./img/reviews/mini/svetlana.jpg')
			.review-text
				p
					| Ирина, спасибо вам с Ульяной за такую красоту. Мой букетик стал красивым и ярким акцентом в моем наряде.
					br
					| Удачи и процветания вам!!!
				p.author 23.08.2015
		.review-block
			p.author.text-center Диана 
			.review-img
				img.img-responsive(src='./img/reviews/mini/diana.jpg')
			.review-text
				p.
					Я обратилась в студию Flowers Fantasy за месяц до свадьбы, но, не смотря на короткий срок, девочки сделали все, чтобы наша свадьба была красивой и незабываемой! Мы заказывали букет невесты, бутоньерку, оформление выездной регистрации и оформление банкетного зала. Т.к. многие из наших гостей постоянно проживают в Европе, то мы решили сделать свадьбу в классическом европейском стиле.  Девочки полностью реализовали все наши идеи, и наша свадьба была красивой и элегантной! 
				p.author 25.07.2014
		.review-block
			p.author.text-center Яна Третьякова 
			.review-img
				img.img-responsive(src='./img/reviews/mini/yana-tretyakova.jpg')
			.review-text
				p.
					Заказывала в студии Flowers Fantasy оформление зала на своей свадьбе, а именно: цветочные композиции на столы гостей и на президиум. Заранее было обговорено, какие именно цветы должны быть и какого цвета, у нас была "коралловая свадьба". Цвет роз девчонки подобрали идеально, он был именно таким, как я и хотела. К слову, букет невесты я заказывала в другом месте, и там не смогли подобрать нужный цвет роз, что меня, конечно же, расстроило... очень пожалела, что не заказала все у девочек из Flowers Fantasy, потому что они свою работы выполнили на все 200%! Я осталась очень довольна! В банкетный зал все привезли вовремя, расставили по столам, забрали, когда гости уже разошлись.
				p.author 16.09.2013
		.review-block
			p.author.text-center Максим и Виктория Мельник 
			.review-img
				img.img-responsive(src='./img/reviews/mini/maksim-victoriya.jpg')
			.review-text
				p.
					Хочу выразить свою благодарность декораторам Flowers Fantasy за оформление зала на свадьбу и букета невесты. Все мои пожелания были учтены. На столах для гостей стояли красивые цветочные композиции в вазочках, которые продержались еще несколько дней, что говорит о свежести цветов, использованных для оформления. Букет невесты получился таким, как я хотела, девочки немного предложили его подкорректировать и все получилось очень оригинально. Единственное для бутоньерок цветы были большеваты. В целом мы остались очень довольны. Спасибо вам огромное! Процветания Вашей компании и побольше клиентов!
				p.author 17.08.2013
		.review-block
			p.author.text-center Виктория и Пётр Борняковы 
			.review-img
				img.img-responsive(src='./img/reviews/mini/victoriya-petr.jpg')
			.review-text
				p.
					Спасибо большое за украшение нашей свадьбы! О таком только мечтать можно! Это самый важный день в жизни, поэтому хотелось, чтобы все было идеально, как в сказке ! Чтобы оформление было красивым, нежным, оформленным со вкусом! Так и получилось! Спасибо Ульяне и Ирине за такой подход в работе! Все показали, рассказали, поделились советами. Очень приятно с Вами работать! Будем всем советовать именно Вашу компанию!
				p.author 20.06.2013
		.review-block
			p.author.text-center Семья Ивановых
			.review-img
				img.img-responsive(src='./img/reviews/mini/ivanovy.jpeg')
			.review-text
				p
					| Пользовались услугами Flowers Fantasy и остались очень довольны. Люди серьезно подходят к делу, к каждой твоей просьбе и пожеланию. Так же могут предложить множество своих идей и вариантов. Наша свадьба была в "деревенском стиле", и у меня было много желаний и заморочек, но прекрасные девушки студии Flowers Fantasy смогли полностью реализовать все задуманное и даже больше. После свадьбы от гостей я еще долго слушала, какой был шикарный декор ресторана. Букеты на столах были настолько красивы,что ни одного не осталось,все растащили гости. Букет для невесты мне тоже очень понравился,все так,как хотела - просто и повторюсь...красиво. Еще я хотела обязательно в прическу живые цветы, но не знала какие именно, в самый важный день мне привезли сразу несколько вариантов цветов. Девушки позаботились, чтобы какие-нибудь цветы уж точно подошли. Опять же отмечаю их серьезный подход к делу. 
					br
					| Обращаясь в студию  Flowers Fantasy, вы можете быть уверены, что все ваши мечты будут исполнены и вы полностью сможете положиться на людей.
					br
					| Отдельно хочу выразить большую благодарность от нас. Все было на высшем уровне, не было никаких замечаний. Меня услышали и прекрасно поняли. Спасибо еще раз!
					br
					| Желаю вам успехов, продвижения, креативных идей и хороших клиентов.
				p.author 11.04.2016


