extends ../_template_portfolio

block vars
    - var title = 'Корпоратив компании LANCK TELECOM'
    - var slug = 'lanck'
    - var fotosCount = 21

block text
    p
      | Корпоратив компании, посвящённый 15-летию фирмы, был организован event-агентством "STARGET" на
      | базе отдыха "Вохотка" и проходил в течение 3-х дней. Нам выпала честь оформить мероприятие в морской тематике,
      | а именно: оформление фотозоны и декор главного банкета в шатре. Думаем, нам удалось создать антураж и помочь
      | сделать мероприятие стильным, красивым и незабываемым. И фото - яркое тому доказательство.
