extends _template 

block vars
	- var h1 = 'Выездная регистрация брака - детали идеального торжества'
	- var title = 'Выездная регистрация брака'

block title
	title #{title}
block content
	+breadcrumb(title)
	.content
		p.
			Планировать выездную регистрацию на свежем воздухе с переменчивой и непредсказуемой питерской погодой всегда небольшой риск. Но благо, в Петербурге огромное количество интересных  площадок, на которых можно организовать и провести выездную церемонию бракосочетания. Такие площадки не обязательно будут закрытыми (в помещении). Многие рестораны предлагают молодожёнами панорамные площадки на крыше или на веранде, с которых открывается завораживающий вид на город, Неву или на залив, и такое место ничуть не уступит по красоте церемонии "под открытым небом", к тому же такие площадки могут быть под лёгким навесом, и он "спасёт" вас в случае, если пойдёт дождь. 
		p.
			Близость к Финскому заливу - большой соблазн проведения регистрации на свежем воздухе. И если всё-таки вы запланировали провести церемонию под открытым небом, на всякий случай имейте запасной вариант - место на крытой веранде ресторана, или в одном из его залов. Вообще, многие рестораны сейчас, в связи с большим спросом на проведение выездных церемоний,  на своей территории специально оборудуют площадки для выездных регистраций, крытые, с прекрасным видом и освещением, на которых можно провести регистрации в любое время года и при любых погодных условиях. Но обязательно обсудите со своим декоратором оба варианта декора выездной регистрации, т.к., например, арка или другой арт-объект, который планируется поставить на побережье залива, может просто технически не подойти для использования в помещении или на крытой площадке. 
		p.
			Что касается арки для выездной регистрации, то это не обязательно должна быть арка в стандартном  понимании - прямоугольная или полукруглая, или арка-хупа, оформленная цветами и тканями. "Арка" может быть и любой другой формы, так, в этом сезоне особой популярностью у пар пользуются арки в форме большого венка. Такие арки выглядят стильно, интересно, и несут в себе благоприятную тайную символику для будущей семьи. Круг - символ бесконечности,  выражает идею единства, высшего совершенства. У славянских  народов  символ рода, семьи изображается в виде круга. 
		p.
			Место, на котором влюблённые произносят клятвы любви может быть оформлено и различными арт-объектами, выполненными из пенопласта, пеноплекса, изолона, ПЭТа и других современных материалов, позволяющих декораторам воплотить в реальность любую мечту и задумку невесты. 
		p.
			Для проведения выездной регистрации в помещении прекрасно подойдут залы старинных петербургских особняков, лофт-пространства, тематические залы фотостудий. Если на площадке имеется камин - то его можно удачно использовать как место для проведения регистрации. Церемония у камина в мерцании свечей всегда получается очень романтичной, уютной, загадочной и какой-то волшебной. А после регистрации красиво оформленный камин послужит отличной фотозоной для гостей. 
		p.
			Также следует обратить внимание на выбор материала для дорожки. От тканевой дорожки следует отказаться в пользу более плотных материалов: банерного полотна, ПВХ или пластика. Дорожки из таких материалов не создают "морщин", не сбиваются, выглядят дорого и по ним удобнее идти невесте на каблуках. 
		p.
			И пусть регистрация вне стен ЗАГСа не  имеет никакой юридической силы и многие называют её "постановочное шоу", она даёт возможность молодоженам и их гостям окунуться в сказку, без спешки и суматохи насладиться атмосферой романтики и трепетными минутами произнесения клятв любви и верности, в красиво оформленном месте, отражающим любовь, внутренний мир и красоту двух любящих сердец. 
