extend ../_template

block title
  title Классика в голубом цвете

block prepend headLinks
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')

block content
  +breadcrumbPortfolio('Классика в голубом цвете')

  .content
    p
      | Букет невесты и оформление банкетного зала Blackmilk для пары Алёны и Кирилла выполнены в классическом стиле и в
      | бело-голубой гамме. В оформлении мы использовали свечи, зеркала, ленты, вазы-мартинки с композициями из шикарных
      | гортензий, роз, гвоздик, лизиантуса, плюща и итальянского рускуса. А оригинальная юбка на президиуме придаёт
      | оформлению лёгкость и воздушность.

    .row.portfolio-preview
      +portfolioItem('../../img/portfolio/main/blue-classic/1.jpeg', '../../img/portfolio/mini/blue-classic/1.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/2.jpeg', '../../img/portfolio/mini/blue-classic/2.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/3.jpeg', '../../img/portfolio/mini/blue-classic/3.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/4.jpeg', '../../img/portfolio/mini/blue-classic/4.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/5.jpeg', '../../img/portfolio/mini/blue-classic/5.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/6.jpeg', '../../img/portfolio/mini/blue-classic/6.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/7.jpeg', '../../img/portfolio/mini/blue-classic/7.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/8.jpeg', '../../img/portfolio/mini/blue-classic/8.jpeg')
      +portfolioItem('../../img/portfolio/main/blue-classic/9.jpeg', '../../img/portfolio/mini/blue-classic/9.jpeg')

block append script
  script(src='/js/fancybox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')