extend ../_template

block title
	title Букеты невест
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Букеты невест')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/byket-nevest/1.jpg', '../../img/portfolio/mini/byket-nevest/1.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/2.jpg', '../../img/portfolio/mini/byket-nevest/2.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/3.jpg', '../../img/portfolio/mini/byket-nevest/3.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/4.jpg', '../../img/portfolio/mini/byket-nevest/4.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/5.jpg', '../../img/portfolio/mini/byket-nevest/5.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/6.jpg', '../../img/portfolio/mini/byket-nevest/6.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/7.jpg', '../../img/portfolio/mini/byket-nevest/7.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/8.jpg', '../../img/portfolio/mini/byket-nevest/8.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/9.jpg', '../../img/portfolio/mini/byket-nevest/9.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/10.jpg', '../../img/portfolio/mini/byket-nevest/10.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/11.jpg', '../../img/portfolio/mini/byket-nevest/11.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/12.jpg', '../../img/portfolio/mini/byket-nevest/12.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/13.jpg', '../../img/portfolio/mini/byket-nevest/13.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/14.JPG', '../../img/portfolio/mini/byket-nevest/14.JPG')
			+portfolioItem('../../img/portfolio/main/byket-nevest/15.jpg', '../../img/portfolio/mini/byket-nevest/15.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/16.jpg', '../../img/portfolio/mini/byket-nevest/16.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/17.jpg', '../../img/portfolio/mini/byket-nevest/17.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/18.jpg', '../../img/portfolio/mini/byket-nevest/18.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/19.jpg', '../../img/portfolio/mini/byket-nevest/19.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/20.jpg', '../../img/portfolio/mini/byket-nevest/20.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/21.jpg', '../../img/portfolio/mini/byket-nevest/21.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/22.jpg', '../../img/portfolio/mini/byket-nevest/22.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/23.jpg', '../../img/portfolio/mini/byket-nevest/23.jpg')
			+portfolioItem('../../img/portfolio/main/byket-nevest/24.jpg', '../../img/portfolio/mini/byket-nevest/24.jpg')
block append script
	script(src='/js/fancybox.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')