extend ../_template

block title
  title В самом сердце Тосканы

block prepend headLinks
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')

block content
  +breadcrumbPortfolio('В самом сердце Тосканы')
  .content
    .row.portfolio-preview
      +portfolioItemLoop(19, 'deep-in-toskana-heart')

block append script
  script(src='/js/fancybox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
