extend ../_template

block title
  title Корпоратив компании LANCK TELECOM

block prepend headLinks
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')

block content
  +breadcrumbPortfolio('Корпоратив компании LANCK TELECOM')

  .content
    p
      | Корпоратив компании, посвящённый 15-летию фирмы, был организован event-агентством "Global Media Event" на
      | базе отдыха "Вохотка" и проходил в течение 3-х дней. Нам выпала честь оформить мероприятие в морской тематике,
      | а именно: оформление фотозоны и декор главного банкета в шатре. Думаем, нам удалось создать антураж и помочь
      | сделать мероприятие стильным, красивым и незабываемым. И фото - яркое тому доказательство.

    .row.portfolio-preview
      +portfolioItem('../../img/portfolio/main/lanck/1.jpeg', '../../img/portfolio/mini/lanck/1.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/2.jpeg', '../../img/portfolio/mini/lanck/2.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/3.jpeg', '../../img/portfolio/mini/lanck/3.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/4.jpeg', '../../img/portfolio/mini/lanck/4.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/5.jpeg', '../../img/portfolio/mini/lanck/5.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/6.jpeg', '../../img/portfolio/mini/lanck/6.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/7.jpeg', '../../img/portfolio/mini/lanck/7.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/8.jpeg', '../../img/portfolio/mini/lanck/8.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/9.jpeg', '../../img/portfolio/mini/lanck/9.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/10.jpeg', '../../img/portfolio/mini/lanck/10.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/11.jpeg', '../../img/portfolio/mini/lanck/11.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/12.jpeg', '../../img/portfolio/mini/lanck/12.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/13.jpeg', '../../img/portfolio/mini/lanck/13.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/14.jpeg', '../../img/portfolio/mini/lanck/14.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/15.jpeg', '../../img/portfolio/mini/lanck/15.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/16.jpeg', '../../img/portfolio/mini/lanck/16.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/17.jpeg', '../../img/portfolio/mini/lanck/17.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/18.jpeg', '../../img/portfolio/mini/lanck/18.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/19.jpeg', '../../img/portfolio/mini/lanck/19.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/20.jpeg', '../../img/portfolio/mini/lanck/20.jpeg')
      +portfolioItem('../../img/portfolio/main/lanck/21.jpeg', '../../img/portfolio/mini/lanck/21.jpeg')

block append script
  script(src='/js/fancybox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
