extend ../_template

block title
	title Лилия и Эдуардо
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Лилия и Эдуардо')
	.content
		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/1.jpg', '../../img/portfolio/mini/lilia-eduardo/1.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/2.jpg', '../../img/portfolio/mini/lilia-eduardo/2.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/3.jpg', '../../img/portfolio/mini/lilia-eduardo/3.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/4.jpg', '../../img/portfolio/mini/lilia-eduardo/4.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/5.jpg', '../../img/portfolio/mini/lilia-eduardo/5.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/6.jpg', '../../img/portfolio/mini/lilia-eduardo/6.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/7.jpg', '../../img/portfolio/mini/lilia-eduardo/7.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/8.jpg', '../../img/portfolio/mini/lilia-eduardo/8.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/9.jpg', '../../img/portfolio/mini/lilia-eduardo/9.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/10.jpg', '../../img/portfolio/mini/lilia-eduardo/10.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/11.jpg', '../../img/portfolio/mini/lilia-eduardo/11.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/12.jpg', '../../img/portfolio/mini/lilia-eduardo/12.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/13.jpg', '../../img/portfolio/mini/lilia-eduardo/13.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/14.jpg', '../../img/portfolio/mini/lilia-eduardo/14.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/15.jpg', '../../img/portfolio/mini/lilia-eduardo/15.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/16.jpg', '../../img/portfolio/mini/lilia-eduardo/16.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/17.jpg', '../../img/portfolio/mini/lilia-eduardo/17.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/18.jpg', '../../img/portfolio/mini/lilia-eduardo/18.jpg')
			+portfolioItem('../../img/portfolio/main/lilia-eduardo/19.jpg', '../../img/portfolio/mini/lilia-eduardo/19.jpg')
block append script
	script(src='/js/fancybox.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')