extend ../_template

block title
	title Морская история любви
block prepend headLinks
	link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')
block content
	+breadcrumbPortfolio('Морская история любви')
	.content
		p
			| Море, ракушки, песок, цветы - всё это вдохновило нас на создание очень красивой свадебной фотосессии на побережье Финского залива для морского приключения Ксении и Романа. Свечи, зеркала, ракушки и морские звёзды, ткани нежно-розового и голубого оттенков, композиции в высоких вазах с ароматными гортензиями и с добавлением декоративных веточек создают нежную атмосферу романтики и любви. Непредсказуемая питерская погода внесла свои коррективы, окатив нас проливным дождём и проверив нашу команду на стойкость. Но дождик нас не испугал, и в пасмурную погоду получаются невероятные снимки,наполненные томной нежностью и мистической романтикой!

		.row.portfolio-preview
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/1.jpg', '../../img/portfolio/mini/sea-love-ballada/1.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/2.jpg', '../../img/portfolio/mini/sea-love-ballada/2.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/3.jpg', '../../img/portfolio/mini/sea-love-ballada/3.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/4.jpg', '../../img/portfolio/mini/sea-love-ballada/4.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/5.jpg', '../../img/portfolio/mini/sea-love-ballada/5.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/6.jpg', '../../img/portfolio/mini/sea-love-ballada/6.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/7.jpg', '../../img/portfolio/mini/sea-love-ballada/7.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/8.jpg', '../../img/portfolio/mini/sea-love-ballada/8.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/9.jpg', '../../img/portfolio/mini/sea-love-ballada/9.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/10.jpg', '../../img/portfolio/mini/sea-love-ballada/10.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/11.jpg', '../../img/portfolio/mini/sea-love-ballada/11.jpg')
			+portfolioItem('../../img/portfolio/main/sea-love-ballada/12.jpg', '../../img/portfolio/mini/sea-love-ballada/12.jpg')
block append script
	script(src='/js/fancybox.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')