extend ../_template

block title
  title Флористика для фотосессии Ульяны

block prepend headLinks
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')

block content
  +breadcrumbPortfolio('Флористика для фотосессии Ульяны')

  .content
    .row.portfolio-preview
      +portfolioItem('../../img/portfolio/main/ulyana/1.jpg', '../../img/portfolio/mini/ulyana/1.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/2.jpg', '../../img/portfolio/mini/ulyana/2.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/3.jpg', '../../img/portfolio/mini/ulyana/3.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/4.jpg', '../../img/portfolio/mini/ulyana/4.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/5.jpg', '../../img/portfolio/mini/ulyana/5.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/6.jpg', '../../img/portfolio/mini/ulyana/6.jpg')
      +portfolioItem('../../img/portfolio/main/ulyana/7.jpg', '../../img/portfolio/mini/ulyana/7.jpg')

block append script
  script(src='/js/fancybox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')