extend ../_template

block title
  title В стиле Рустик

block prepend headLinks
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet')

block content
  +breadcrumbPortfolio('В стиле Рустик')

  .content
    .row.portfolio-preview
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/1.jpg', '../../img/portfolio/mini/v-stile-rustik/1.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/2.jpg', '../../img/portfolio/mini/v-stile-rustik/2.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/3.jpg', '../../img/portfolio/mini/v-stile-rustik/3.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/4.jpg', '../../img/portfolio/mini/v-stile-rustik/4.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/5.jpg', '../../img/portfolio/mini/v-stile-rustik/5.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/6.jpg', '../../img/portfolio/mini/v-stile-rustik/6.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/7.jpg', '../../img/portfolio/mini/v-stile-rustik/7.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/8.jpg', '../../img/portfolio/mini/v-stile-rustik/8.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/9.jpg', '../../img/portfolio/mini/v-stile-rustik/9.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/10.jpg', '../../img/portfolio/mini/v-stile-rustik/10.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/11.jpg', '../../img/portfolio/mini/v-stile-rustik/11.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/12.jpg', '../../img/portfolio/mini/v-stile-rustik/12.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/13.jpg', '../../img/portfolio/mini/v-stile-rustik/13.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/14.jpg', '../../img/portfolio/mini/v-stile-rustik/14.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/15.jpg', '../../img/portfolio/mini/v-stile-rustik/15.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/16.jpg', '../../img/portfolio/mini/v-stile-rustik/16.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/17.jpg', '../../img/portfolio/mini/v-stile-rustik/17.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/18.jpg', '../../img/portfolio/mini/v-stile-rustik/18.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/19.jpg', '../../img/portfolio/mini/v-stile-rustik/19.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/20.jpg', '../../img/portfolio/mini/v-stile-rustik/20.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/21.jpg', '../../img/portfolio/mini/v-stile-rustik/21.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/22.jpg', '../../img/portfolio/mini/v-stile-rustik/22.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/23.jpg', '../../img/portfolio/mini/v-stile-rustik/23.jpg')
      +portfolioItem('../../img/portfolio/main/v-stile-rustik/24.jpg', '../../img/portfolio/mini/v-stile-rustik/24.jpg')

block append script
  script(src='/js/fancybox.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')