$font-family-base: 'Marmelad', sans-serif;
$font-size-base: 16px;

$width-container: 950px;

$color-bg-base: rgba(162, 141, 162, 0.1);
$color-bg-nav:  #F1D3F7;
$color-link-nav: #9e515d;
$color-link-hover: #BA55B3;
$color-button-more: #3379b7;
$color-i-price: rgba(171, 83, 176, 0.7);
$color-autor: rgba(171, 83, 176, 1);
$color-footer-block: rgba(137, 131, 138, 0.2);
$color-callback-bg: #3379b7;
$color-callback-bg-hover: #5ba6cf;
$color-white: #ffffff;

$borber-base: 1px solid rgba(171, 83, 176, 1);
$border-base-bold: 2px solid rgba(171, 83, 176, 1);

$bg-gradient-callback: linear-gradient(to bottom, #3379b7 5%, #5ba6cf 100%);
$bg-gradient-callback-hover: linear-gradient(to bottom, #5ba6cf 5%, #3379b7 100%);

$box-shadow-callback: 0 10px 14px -7px #276873;
$text-shadow-callback: 0 1px 0 #3d768a;
$shadow-button-more: 0 1px 0 #f7f9fa;
$shadow-button-more-hover: 0 2px 3px rgba(0,0,0,.1);

